@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1110px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Hiragino Sans", sans-serif;
$english-font-family: "Montserrat", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
$gray-dark: #333333; // 元 $blue
$purple: #391E88; // 元 $gray-391
$gray: #707070; // 元 $gray-707
$gray-light: #C0C0C0; // 元 $gray-c0c
$gray-lightest: #F7F7F7; // 元 $gray-f7f
$yellow-light: #F9FDC8; // 元 $gray-f9f
$pink-light: #FBEDFF; // 元 $gray-fbe

// z-indexの階層管理
$z-index-back: -1;
$z-index-default: 1;
$z-index-header: 100;
$z-index-drawer: 200;
$z-index-modal: 300;
